*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}
.container{
    padding: 30px 8%;
}
nav{
    font-family: "Courier";
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    float:right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 32px;
    margin-top: -10px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    font-family: system-ui;
    font-style: italic;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%;
}
.header-text{
    color: #fff;
    margin-top: 26%;
    font-size: 30px;
    font-style: italic;
}

.header-text h1{
    border-right: .15em solid orange;
    font-family: "Courier";
    font-size: 55px;
    white-space: nowrap;
    overflow: hidden;
}
.header-text h1:nth-child(1){
    font-size: 30px;
    width: 16.3em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.header-text h1:nth-child(2){
    width: 9.8em;
    word-spacing: -12px;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.header-text h1:nth-child(3){
    width: 15.6em;
    word-spacing: -12px;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end), blink .5s step-end infinite alternate;
    animation: type3 2s steps(40, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }
.header-text h1 span{
    font-family: Courier;
    color: #ff004f;
}
/*-----------about----------*/
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.desc{
    margin-right: 150px;
}

.t-titles{
    display: flex;
    margin: 20px 0 40px;
}
.t-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.t-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.t-links.active-link::after{
    width: 50%;
}
.tab-contents li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
h3{
    margin: 5px;
}
.skill-bar{
    width: 500px;
    margin-top: 20px;
    color: #fff;
    padding: 0px;
    position: relative;
}
    
.skill-bar li{
    margin-top: -15px;
    margin-left: -20px;
    padding: 10px;
}

.bar{
    margin-top: -5px;
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.91);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(185, 39, 41, 0.91);
}
.bar span{
    height: 20px;
    float: left;
}
.Java{
    width: 90%;
    animation: Java 3s;
    background: linear-gradient(135deg, #ff004f 0%, #ff004f 100%);
}
.Python{
    width: 70%;
    animation: Python 3s;
    background: linear-gradient(135deg, #ff004f 0%, #ff004f 100%);
}
.HTML{
    width: 40%;
    animation: HTML 3s;
    background: linear-gradient(135deg, #ff004f 0%, #ff004f 100%);
}
.CSS{
    width: 40%;
    animation: CSS 3s;
    background: linear-gradient(135deg, #ff004f 0%, #ff004f 100%);
}
.JS{
    width: 40%;
    animation: JS 3s;
    background: linear-gradient(135deg, #ff004f 0%, #ff004f 100%);
}
.other_skills{
    margin-left: -7px;
    color: #fff;
}
.other_skills li span{
    color:#b54;

}
@keyframes Java{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes Python{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes HTML{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}
@keyframes CSS{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}
@keyframes JS{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}
/*----------------portfolio------------*/
#portfolio{
    padding: -40px 0;
    margin-top: -60px;
}
.sub-title{
    font-size: 55px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height: 110%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h2{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;

}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition:background 0.5s;
}
.btn:hover{
    background: #ff004f;
}
/*-----------contact----------*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #ff004f;
}
/*--------- css for smaller screens------------*/
@media only screen and (max-width: 600px){
    #header{
        background: url(background2.jpg);
        background-size: cover;
        padding: -150px;
        margin-bottom: 50px;
        height: 500px;
    }
    .header-text h1{
        font-size: 20px;
        word-spacing: 0px;
    }
    .header-text h1:nth-child(1){
        font-size: 20px;
        width: 16.3em;
    }
    .header-text h1:nth-child(2){
        word-spacing: 0px;
        width: 10.7em;

    }
    .header-text h1:nth-child(3){
        word-spacing: 0px;
        width: 16.1em;

    }
    .skill-bar{
        width: 300px;
    }

}

